In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [142]:
df=pd.read_excel('Data_Train.xlsx')

In [143]:
df1=pd.read_excel('Test_set.xlsx')

In [144]:
d=df.append(df1)

In [145]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [146]:
d.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [147]:
d['Date']=d['Date_of_Journey'].str.split('/').str[0]
d['Month']=d['Date_of_Journey'].str.split('/').str[1]
d['Year']=d['Date_of_Journey'].str.split('/').str[2]

In [148]:
d.drop('Date_of_Journey', inplace=True, axis=1)

In [149]:
d['Total_Stops']=d['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4, 'nan':0})

In [150]:
d['Arrival_Time']=d['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [151]:
d.drop('Route', inplace=True, axis=1)

In [152]:
d['Dep_Hour']=d['Dep_Time'].apply(lambda x : x.split(':')[0])
d['Dep_Minu']=d['Dep_Time'].apply(lambda x : x.split(':')[1])
d['Arrival_Hour']=d['Arrival_Time'].apply(lambda x : x.split(':')[0])
d['Arrival_Minu']=d['Arrival_Time'].apply(lambda x : x.split(':')[1])

In [153]:
d.drop(['Dep_Time','Arrival_Time'] , inplace=True, axis=1)

In [154]:
d['Dep_Hour']=d['Dep_Hour'].astype('int32')
d['Dep_Minu']=d['Dep_Minu'].astype('int32')
d['Arrival_Hour']=d['Arrival_Hour'].astype('int32')
d['Arrival_Minu']=d['Arrival_Minu'].astype('int32')
d['Date']=d['Date'].astype('int32')
d['Month']=d['Month'].astype('int32')
d['Year']=d['Year'].astype('int32')

In [155]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int32
 8   Month            13354 non-null  int32
 9   Year             13354 non-null  int32
 10  Dep_Hour         13354 non-null  int32
 11  Dep_Minu         13354 non-null  int32
 12  Arrival_Hour     13354 non-null  int32
 13  Arrival_Minu     13354 non-null  int32
dtypes: float64(2), int32(7), object(5)
memory usage: 1.2+ MB

In [156]:
pd.get_dummies(d['Additional_Info'], drop_first=True)

,1 Short layover,2 Long layover,Business class,Change airports,In-flight meal not included,No Info,No check-in baggage included,No info,Red-eye flight
0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
2666,0,0,0,0,0,0,0,1,0
2667,0,0,0,0,0,0,0,1,0
2668,0,0,0,0,0,0,0,1,0
2669,0,0,0,0,0,0,0,1,0
2670,0,0,0,0,0,0,0,1,0

In [157]:
d['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [158]:
d['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [159]:
d['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [162]:
d['Duration_Hour']=d['Duration'].apply(lambda x : x.split(' ')[0].split('h')[0] if len(x.split('h'))>1 else 0)
d['Duration_Minu']=d['Duration'].apply(lambda x : x.split(' ')[1].split('m')[0] if len(x.split(' '))>1 else 0)

In [168]:
d.drop('Duration', inplace=True, axis=1)
d['Duration_Hour']=d['Duration_Hour'].astype('int32')
d['Duration_Minu']=d['Duration_Minu'].astype('int32')

In [169]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Total_Stops      13353 non-null  float64
 4   Additional_Info  13354 non-null  object
 5   Price            10683 non-null  float64
 6   Date             13354 non-null  int32
 7   Month            13354 non-null  int32
 8   Year             13354 non-null  int32
 9   Dep_Hour         13354 non-null  int32
 10  Dep_Minu         13354 non-null  int32
 11  Arrival_Hour     13354 non-null  int32
 12  Arrival_Minu     13354 non-null  int32
 13  Duration_Hour    13354 non-null  int32
 14  Duration_Minu    13354 non-null  int32
dtypes: float64(2), int32(9), object(4)
memory usage: 1.5+ MB